version: "3.9"

services: 
  postgres:
    image: postgres:alpine3.20
    container_name: rto-project-postgres 
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "MAK#9555"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: